body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

#searchInput {
  flex-grow: 1;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

#searchButton {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.card:hover {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.card h2 {
  font-size: 24px;
  margin-top: 0px;
}

.card p {
  font-size: 18px;
  margin-bottom: 0px;
}
